.data{
    margin : 15px 10px 10px 10px;
    color: snow;
    font-weight: 600;
    font-size: 0.5em;
    text-align: right;
}
.icons{
    size: 1.5rem;
    margin: auto;
    display: none;
    display: inline-flex;
    vertical-align: middle;
}

.rowdata{
    margin-bottom: 0;
}


/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner {
    margin : auto;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: snow;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

i.small {
    font-size: 3rem;
}

.hrcolor{
    background: snow;
}

.hide{
    display: none;
}

.metrics{
    font-size: 1.5em;
    margin: auto;
    padding: inherit;
    padding-top: 8px;
}
.loader{
    margin: auto;
    padding-top: 25px;
    padding-bottom: 10px;
}

.inline{
    display: inline-flex;
}

.topsection{
    text-align: right;
    margin-right: 10px;
}

.topsectiontext{
    font-size: 1.5em;
}